$white: hsl(0, 0, 100%);
$LightGrey: hsl(217, 12%, 63%);
$MediumGrey: hsl(216, 12%, 54%);
$DarkBlue: hsl(214, 22%, 19%);
$VeryDarkBlue: hsl(217, 26%, 14%);
$black: hsl(0, 0%, 0%);
$PrimaryButton: hsl(25, 97%, 53%);
$PrimaryButtonFontColor: hsl(25, 97%, 53%);