@import "./reset";
@import "./colors";
html {
  font-size: 62.5%;
  font-family: "Overpass", sans-serif;
}
body {
  background-color: $black;
  color: $white;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .first-display-card {
    display: flex;
    flex-direction: column;
    padding: 3em;
    background-color: $VeryDarkBlue;
    border-radius: 5%;
    &__description {
      color: $MediumGrey;
    }
    &__primary-button {
      border-radius: 25px;
      border: none;
      background-color: $PrimaryButton;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .second-display-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em;
    background-color: $VeryDarkBlue;
    border-radius: 5%;
  }

  @media (min-width: 375px) {
    .first-display-card {
      width: 350px;
      height: 350px;
      &__icon {
        width: 40px;
        height: 40px;
        padding: 1.25em;
        background-color: $DarkBlue;
        border-radius: 50%;
      }
      &__header {
        margin: 1.5em 0 1em 0;
        font-size: 2rem;
      }
      &__description {
        font-size: 1.3rem;
        line-height: 150%;
      }
      .button-section {
        display: flex;
        justify-content: space-between;
        margin: 2em 0;
        &__btn {
          padding: 1em 1.25em;
          font-size: 1.2rem;
          font-weight: 700;
          background-color: $DarkBlue;
          color: $LightGrey;
          border: none;
          border-radius: 50%;
          transition: background-color 0.5s, color .5s;
          cursor: pointer;
          
        }
        &__btn:hover {
          background-color: $LightGrey;
          color: $white;
        }
        
      }
      &__primary-button {
        padding: .8em 0.4em;
        font-size: 1.5rem;
        font-weight: 700;
        color: $white;
        letter-spacing: 1px;
        transition: background-color .5s, color .5s;
      }
      &__primary-button:hover{
        background-color: $white;
        color: $PrimaryButtonFontColor;
      }
    }
    .second-display-card{
      display: none;
      width: 350px;
      height: 350px;
      &__illustration{
        margin: 0 0 1em 0;
        width: 140px;
        height: 100px;
      }
      &__selected-area{
        text-align: center;
        width: 200px;
        height: 28px;
        margin: .5em 0 0 0;
        padding: .4em 0;
        border-radius: 50px;
        background-color: $DarkBlue;
        color: $PrimaryButtonFontColor;
        font-size: 1.5rem;
      }
      &__header{
        margin: .75em 0;
        font-size: 2.75rem;
      }
      &__description{
        color: $MediumGrey;
        text-align: center;
        padding: 0 .5em;
        font-size: 1.4rem;
        line-height: 150%;
      }
    }
  }
  @media (min-width: 1440px) {
    .first-display-card {
      width: 500px;
      height: 500px;
      &__icon {
        width: 54px;
        height: 54px;
        padding: 1.5em;
      }
      &__header {
        margin: 1em 0;
        font-size: 3.5rem;
      }
      &__description {
        font-size: 1.9rem;
      }
      .button-section{
        margin: 3em 0;
        &__btn{
          padding: 1.25em 1.5em;
          font-size: 1.75rem;
        }
      }
      &__primary-button{
        padding: 1em 0.5em;
        font-size: 1.7rem;
      }
    }
    .second-display-card{
      width: 450px;
      height: 450px;
      &__illustration{
        margin: 1em 0 1.5em 0;
        width: 175px;
        height: 125px;
      }
      &__selected-area{
        text-align: center;
        width: 250px;
        height: 35px;
        padding: .4em 0 0 0;
        margin: 1em 0 0 0;
        border-radius: 50px;
        background-color: $DarkBlue;
        color: $PrimaryButtonFontColor;
        font-size: 1.8rem;
      }
      &__header{
        margin: 1.5em 0 .5em 0;
        font-size: 3rem;
      }
      &__description{
        color: $MediumGrey;
        text-align: center;
        padding: 0 3em;
        font-size: 1.5rem;
        line-height: 175%;
      }
    }
  }
}
