@import "./reset";
@import "./colors";
html {
  font-size: 62.5%;
  font-family: "Overpass", sans-serif;
}
body {
  background-color: $black;
  color: $white;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



@media(min-width: 375px){

}
